<div class="row">
  {{title}}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Montante</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="edit($index)"
        ng-repeat="customer in customers">
        <td>
          <span ng-hide="editable($index)">{{customer.name}}</span>
          <input ng-show="editable($index)" 
            ng-model="customer.name" class="form-control">
        </td>
        <td>{{customer.amount|number:2}}€</td>
      </tr>
    </tbody>
  </table>
</div>
